<h1>Public::Customers#index</h1>
<p>Find me in app/views/public/customers/index.html.erb</p>


<!--不要かも-->

<h2>投稿履歴一覧</h2>

<% if @customer_posts.present? %>
  <% @customer_posts.each do |post| %>
    <p>説明：<%= post.caption %></p>
  <% end %>
<% else %>
  <p>投稿はありません。</p>
<% end %>